@import "../../assets/sass_constants/colors"

.sidebar_container
  position: fixed
  box-shadow: 5px 0 5px rgba(0,0,0,0.2)
  width: 20%
  left: -14%
  z-index: 2
  align-items: center
  top: 0
  display: flex
  @include putTransition()
  height: 100%
  background-color: $orange
  &.open
    left: 0
  ul
    width: 100%
    margin-block-start: 0
    margin-inline-start: 0
    padding-inline-start: 0
    li
      padding: 1.3vw 1.5vw
      cursor: pointer
      display: flex
      justify-content: flex-end
      @include putTransition()
      text-align: left
      &.selected
        background-color: darken($orange, 3)
      p
        flex-grow: 1
        text-transform: uppercase
        color: darken($orange, 30)
      &:hover:not(.selected)
        background-color: lighten($orange, 3)
      img
        width: 42px
        height: 42px
