@import "../../assets/sass_constants/colors"

.users_page
  table
    width: 100%
    thead
      text-align: center
      td
        padding: 10px 0
    tbody
      background-color: #F0F0F0
      tr
        td
          text-align: center
          padding: 10px 0
          border-bottom: 1px solid #AAA
          img
            width: 55px
            height: 55px
            object-fit: cover
            border-radius: 500px

.width_bigger
  width: 100%
  margin-bottom: 2.5%
  input
    width: 95%
.flex
  display: flex
  div:not(:first-child)
    width: 100%
    margin-right: 2.5%
    margin-left: 1em

.footer
  display: flex
  justify-content: flex-end
  button
    margin-top: 0
